<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="好。吃">
        我的餐廳清單
        <div class="d-inline-block align-top"><a href="./new">新增餐廳</a></div>
      </a>

    </div>
  </nav>

  <div class="banner"></div>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
</header>

<body>
  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/3f059565a1.js" crossorigin="anonymous"></script>
</body>




</html>