<h1 class="mb-1 restaurant-show-title">Login</h1>
{{> message}}
<div class="border border-3 shadow p-3 mb-5 bg-body rounded " style=" margin-left:30%; margin-right:30%;">
    <form action="/login" method="POST">
        <div class="d-flex justify-content-around">
            <div class="col-4">
                <label for="email">Email</label>
            </div>
            <input class="col-4" type="email" name="email" placeholder="Enter email" required>
        </div>
        <div class="d-flex justify-content-around">
            <div class="col-4">
                <label for="password">Password</label>
            </div>
            <input class="col-4" type="password" name="password" placeholder="Enter password" required>
        </div>
        <div style="margin-left: auto; margin-right: auto; width:10%" type="submit">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>

    </form>
    <form style="margin-left:40%; margin-right: auto" type="submit" action="/login/facebook" method="GET">
        <i class="fa-brands fa-facebook fa-xl" style=" color:#0D6EFD;"></i> <button class="btn btn-primary"
            type="submit">Facebook Login</button>
    </form>

    <div>
        <span>No account?</span>
        <a href="/register">Register</a>
    </div>
</div>