<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>
<form action="/restaurants" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="name" class="col-form-label">餐廳名稱</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='name' id="name" aria-describedby="name">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="name_en" class="col-form-label">餐廳英文名稱</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='name_en' id="name_en" aria-describedby="name_en">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="category" class="col-form-label">餐廳類別</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='category' id="category" aria-describedby="category">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="image" class="col-form-label">餐廳圖片</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='image' id="image" aria-describedby="image">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="location" class="col-form-label">餐廳地點</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='location' id="location" aria-describedby="location">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="phone" class="col-form-label">餐廳電話</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='phone' id="phone" aria-describedby="phone">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="description" class="col-form-label">餐廳描述</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='description' id="description" aria-describedby="description">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="google_map" class="col-form-label">地圖</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name='google_map' id="google_map" aria-describedby="google_map">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <label for="rating" class="col-form-label">評分</label>
      </div>
      <div class="col-6">
        <input class="form-control" type="number" name='rating' id="rating" aria-describedby="rating">
      </div>
    </div>
  </div>
  <button type="submit">Create</button>
</form>